# Ignorar diretórios da IDE IntelliJ
.idea/

# Ignorar diretório de saída da compilação
out/

# Ignorar arquivos compilados do Java
*.class

# Ignorar logs
*.log

# Ignorar pacotes do sistema operacional
.DS_Store
Thumbs.db

*.iml

